body{
    background-color: #f2f2f2;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

#gameboard{
    display: grid;
    grid-template: repeat(3, 160px) / repeat(3, 160px);
    gap: 10px;
    justify-content: center;
}

.cell{
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: rgb(20, 64, 236);
    color: #fff;
    cursor: pointer;
}